    <nav>
      <ul class="topnav" id="myTopnav">
        <li><a href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
        <li class="icon">
          <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
        </li>
      </ul>
    </nav>
      
          <h3>
            Vue Components
          </h3>
            
          <p>
            Exploring the world of Vue.js!
          </p>

          <h5>
            Data Binding
          </h5>

          <label for="sonic">Type here:</label>
          <input v-model="textInput" type="text" id="sonic">
          <br>

          <pre>
            <code>
              You're Typing: {{ $data.textInput | json }}
            </code>
          </pre>
          
          <h3 id="lists">
            Lists
          </h3>

          <ul>
            <li v-for="character in characters">
              {{character}}
            </li>
          </ul>

          <h5>
            Dynamically Add to List
          </h5>
          
          <input type="text" placeholder="Add character here..." v-model="newCharacter">

          <button v-on:click="addCharacter">Add</button>

          <table class="u-full-width">
            <thead>
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Sex</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Dave Gamache</td>
                <td>26</td>
                <td>Male</td>
                <td>San Francisco</td>
              </tr>
              <tr>
                <td>Dwayne Johnson</td>
                <td>42</td>
                <td>Male</td>
                <td>Hayward</td>
              </tr>
            </tbody>
          </table>

          <hr>

          <h3 id="forms">
            Forms
          </h3>

          <form>
            <div class="six columns">
              <label for="exampleEmailInput">Your email</label>
              <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
            </div>
            <div class="six columns">
              <label for="exampleRecipientInput">Reason for contacting</label>
              <select class="u-full-width" id="exampleRecipientInput">
                <option value="Option 1">Questions</option>
                <option value="Option 2">Admiration</option>
                <option value="Option 3">Can I get your number?</option>
              </select>
            </div>
            <label for="exampleMessage">Message</label>
            <textarea class="u-full-width" placeholder="Hi Dave …" id="exampleMessage"></textarea>
            <label class="example-send-yourself-copy">
              <input type="checkbox">
              <span class="label-body">Send a copy to yourself</span>
            </label>
            <input class="button-primary" type="submit" value="Submit">
          </form>

          <hr>

          <h3 id="flexbox">
            Flexbox
          </h3>
          
          <div class="flex-container config-grid">
            <div class="flex-item">1</div>
            <div class="flex-item">2</div>
            <div class="flex-item">3</div>
            <div class="flex-item">4</div>
            <div class="flex-item">5</div>
            <div class="flex-item">6</div>
          </div>
