<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Style Guide | <%= title %></title>
  <link rel="stylesheet" href="./min/bundle.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <nav>
          <ul class="inline-links">
          <% @categories.each do |category, file_name| %>
            <li>
              <a href="<%= file_name %>"><%= category %></a>
            </li>
          <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div id="app" class="container">
    <div class="row">
      <div class="twelve columns">
        <h1>
          Custom Framework
        </h1>
        <section class="content">
          <ul class="inline-links">
          <% @blocks.each do |b| %>
            <li><a href="#<%= b[:name] %>"><%= b[:title] %></a></li>
          <% end %>
          </ul>