// Initial Variables
$radius: 4px;

// Derived Variables
$primary: $turquoise;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$light: $white-ter;
$dark: $grey-darker;

$link: $danger;
$link-hover: darken($danger, 20%);

// Generic Variables
$body-background-color: #fff;